{% include '_head.html' %}
<link rel="stylesheet" href="/static/home.css" />

</head>
<body>
    {% include '_menu.html' %}
    </header>
    <main class="home">
        <h1>Welcome at CPNITS Butterfly, {{ props.alias() }}</h1>
        <p>The path to your OneDrive is: <strong>{{ props.odpad() }}</strong></p>
        <!-- <a class="asbutton" href="#">werkt nog niet</a> -->

        <p>It looks a lot like you have to login.</p>
        <form action="" method="post">
            <input type="text" name="alias" placeholder="Your alias is Case Sensitive">
            <input type="password" name="password" placeholder="Your password">
            <input type="submit" name="inloggen" value="Login">
        </form>
    </main>
</body>