{% include '_head.html' %}
<link rel="stylesheet" href="/static/home.css" />

</head>
<body>
    {% include '_menu.html' %}
    </header>
    <main class="home">
        <h1>Welcome at CPNITS Butterfly, {{ props.alias() }}</h1>
        <p>The path to your OneDrive is: <strong>{{ props.odpad() }}</strong></p>
        <!-- <a class="asbutton" href="#">werkt nog niet</a> -->

        {% if props.magda(['docent']) %}
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="width: {{ '49%'|safe if huntodos|length > 0 else '100%'|safe }};">
                    <h2>Todo's for students</h2>
                    {% for key, groep in groepen.items() %}
                        {% if key in pergroep.keys() %}
                            <h3 class="contrast" style="background-color: {{ groep['color'] }}">{{ groep['name'] }}</h3>
                            <ul>
                            {% for t in pergroep[key] %}
                                <li class="liggend"><a class="asbutton valop" href="/studenten/single/{{ t._id() }}">{{ t._id()|vier }}</a> {{ t._try('firstname') }} {{ t._try('lastname') }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
<script>
    $(function(){
        $('.contrast').each(function(){
            let kleur = $(this).css('background-color');
            let contra = calc_contra_color(kleur)
            $(this).css('color', contra);
        });
    });
</script>
</body>